@import url('https://fonts.googleapis.com/css?family=Limelight|Source+Sans+Pro:400,400i,700,700i');

body {
  background-color: #f8f2f3;
  color: #2e283f;
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'Limelight';
}
h3 {
  font-weight: 700;
}
h5 {
  text-transform: uppercase;
}
a {
  color: #2e283f;
}
a:hover {
  color: #4dc59d;
  text-decoration: none;
}
a:focus, video:focus {
  outline: none;
}
hr {
  border-top: 1px solid #2e283f;
}
.header {
  padding: 4rem 0;
}
.content {
  padding-bottom: 4rem;
}
.iframe-container {
  max-width: 500px;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.video-content video {
  max-width: 500px;
  width: 100%;
}
.image-content img {
  max-width: 500px;
  width: 100%;
}
.public-speaking-line {
  margin: 0 0 1.5rem 6px;
  max-width: 341px;
  width: calc(100% - 165px);
}
.projects-line {
  margin: 0 0 1.5rem 6px;
  max-width: 406px;
  width: calc(100% - 100px);
}
