@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,400i,600,600i,700,700i');

body {
  background-color: #ffffff;
  color: #404040;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h1, h3 {
  font-family: 'Merriweather', serif;
}
h3 {
  font-size: 20px;
}
a, a:hover {
  color: #039be5;
  text-decoration: none;
}
a:focus, a:focus-visible {
  outline: none;
}

.name-headline {
  display: inline-block;
  vertical-align: middle;
}
.nav-links {
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.nav-links .list-group-item {
  display: inline-block;
  vertical-align: middle;
}
.project-card a, .project-card a:hover {
  color: #404040;
}
.project-card img {
  margin-right: 10px;
  width: 200px;
}



.post-content {
  padding-right: 2px;
}
.home-content img, .post-content img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}
.post-body p {
  margin-bottom: 1.4rem;
}
.footnote {
  margin-left: 0;
  width: 100px;
}



.col, .col-1, .col-10, .col-11, .col-12,
.col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 20px;
}
.small {
  font-size: 14px;
}

@media (min-width: 576px) {
  .content { max-width: 728px; }
}
@media (min-width: 768px) {
  .container { max-width: 960px; }
}
@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}
